{% extends "app/base.html" %} {% block content %}
<!-- ウェルカムページ+実績 -->
<div class="container text-center mt-5">
  <h2 class="m-4"><span class="border-bottom border-3">ようこそ</span></h2>
  <p class="m-4"><span>当サイトは、フリーランスエンジニア・IT支援コーチのRyomaChidiwaのポートフォリオサイトとなります。</span></p>
  <p></p>
</div>

<div class="container text-center mt-5">
<h2 class="m-4"><span class="border-bottom border-3">works</span></h2>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
  {% for work in work_data %}
  <div class="col">
    <div class="card h-100">
      {% if work.thumbnail %}
      <a href="{{ work.url }}" target="_blank"><img src="{{ work.thumbnail.url }}" class="card-img-top" alt="..."></a>
      {% else %}
      <a href="{{ work.url }}" target="_blank"><img src="{{ work.image.url }}" class="card-img-top" alt="..."></a>
      {% endif %}  
      <div class="card-body">
        <h5 class="card-title"><a class="link-opacity-25-hover" href="{{ work.url }}" target="_blank">{{ work.title }}</a></h5>
        <p class="card-text">{{ work.description }}</p>
        <p class="card-text"><small class="text-body-secondary">作成 : {{ work.created }}</small></p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>


{% endblock %}