{% extends "app/base.html" %} {% block content %}
<!-- 事業概要+プロフィール -->
<div class="container text-center mt-5 p-5">
    <h3 class="mb-5"><span class="border-bottom border-3">思考遊泳(sikou_u_a)</span></h3>
    <img src="/media/images/思考遊泳ロゴ.png" alt="Image" class="rounded mb-5" style="max-width: 200px;">
    <p class="text-primary lead">
        「思考であなたのITはもっと楽しくなる」
    </p>
    <p class="my-4">をテーマに個人様、法人様問わすデジタル化や導入のコーチング等、IT関する支援活動を行っております。</p>
</div>

<div class="container text-center mt-5 p-5">
    <h3 class="mb-5"><span class="border-bottom border-3">町のIT屋さん</span></h3>
    <p class="my-4">福岡市、筑豊地区を拠点にちょっとしたPCの扱いや機器の相談など<br>
        「町の近所の電気屋さん」のように気軽に相談が可能な窓口を設けております。</p>
</div>


<div class="container text-center mt-5 p-5">
    <h3 class="mb-5"><span class="border-bottom border-3">profile</span></h3>
    <img src="/media/images/RCイラスト.JPG" alt="Image" class="rounded mb-5" style="max-width: 200px;">
    <h5>Ryoma Chidiwa(千々和 竜馬)</h5>
    <p class="my-4">        
        2011年にファッションデザインの専門学校のビジネス学科を卒業後、アパレル業界での経験を積むために皮革製造工場に入社。<br>
        製造員として2DCADを駆使し、裁断機の管理や操作に携わる。<br>
        その後、2020年に経理事務としてのキャリアに移行し同社の内部システムの管理も担当。<br>
        この頃より興味があったプログラミングの勉強を開始、実務ベースでの開発を行い経理業務だけでなく会社におけるシステムの構築やデジタル化にも貢献する。<br><br>
        2024年よりIT支援事業「思考遊泳」を立ち上げ、福岡を拠点にITやデジタル化へ思い悩む人への支援を行っている。<br><br>
        1990年7月7日生まれ。福岡県在中。<br>
    </p>
</div>

<div class="container text-center mb-5 p-5">
    <h3 class="mb-3"><span class="border-bottom border-3">SNS</span></h3>
    <a href="https://twitter.com/sikou_ryoma" target="_blank">
        <img src="/media/images/logo-black.png" alt="..." class="rounded m-1" style="max-width: 40px;">
    </a>
    <a href="https://www.instagram.com/sikou_u_a" target="_blank">
        <img src="/media/images/Instagram_Glyph_Gradient.png" alt="..." class="rounded m-1" style="max-width: 40px;">
    </a>
    <a href="https://www.tiktok.com/@sikou_u_a" target="_blank">
        <img src="/media/images/TikTok_Icon_Black_Circle.png" alt="..." class="rounded m-1" style="max-width: 40px;">
    </a>
    <a href="https://note.com/sikou_ryoma" target="_blank">
        <img src="/media/images/icon.png" alt="..." class="rounded m-1" style="max-width: 40px;">
    </a>
</div>

{% endblock %}