* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  

  body {
    font-family: "Noto Serif JP", serif;
    font-weight: 400;
    font-style: normal;
    background: #f1f1f1;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }
  

  main {
    flex: 1;
  }
  
