{% extends "app/base.html" %} {% block content %}
<!-- 問い合わせフォーム -->
<div class="container text-center mt-5 p-5">
    <h3 class="mb-5"><span class="border-bottom border-3">お問い合わせ</span></h3>
    <div class="mb-3">
        <p>ご依頼、ご相談、その他メッセージは以下のフォームより入力をお願いします。</p>
        <p>各SNSのDMからもメッセージを受け付けております。</p>
    </div>
</div>
<div class="container text-center mb-1">
    <h3 class="mb-3"><span class="border-bottom border-3">SNS</span></h3>
    <a href="https://twitter.com/sikou_ryoma" target="_blank">
        <img src="/media/images/logo-black.png" alt="..." class="rounded m-1" style="max-width: 40px;">
    </a>
    <a href="https://www.instagram.com/sikou_u_a" target="_blank">
        <img src="/media/images/Instagram_Glyph_Gradient.png" alt="..." class="rounded m-1" style="max-width: 40px;">
    </a>
    <a href="https://www.tiktok.com/@sikou_u_a" target="_blank">
        <img src="/media/images/TikTok_Icon_Black_Circle.png" alt="..." class="rounded m-1" style="max-width: 40px;">
    </a>
    <a href="https://note.com/sikou_ryoma" target="_blank">
        <img src="/media/images/icon.png" alt="..." class="rounded m-1" style="max-width: 40px;">
    </a>
</div>
<div class="container mb-5">
    <form method="post" action="{% url 'app:contact' %}">
        <div class="mb-3">
            <label for="{{ form.subject.id_for_label }}" class="form-label">件名</label>
            <!-- {{ form.subject }} -->
            <textarea class="form-control" id="{{ form.subject.id_for_label }}" name="{{ form.subject.html_name }}"></textarea>
        </div>
        <div class="mb-3">
            <label for="{{ form.sender.id_for_label }}" class="form-label">Email</label>
            <!-- {{ form.sender }} -->
            <input type="email" class="form-control" id="{{ form.sender.id_for_label }}" placeholder="name@example.com" name="{{ form.sender.html_name }}">
        </div>
        <div class="mb-3">
            <label for="{{ form.message.id_for_label }}" class="form-label">本文</label>
            <!-- {{ form.message }} -->
            <textarea class="form-control" id="{{ form.message.id_for_label }}" rows="3" name="{{ form.message.html_name }}"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">send</button>
        {% csrf_token %}
      </form>
</div>


{% endblock %}
